@model IndexModel

@if (@Model.TableA != null)
{
    <form method="get" class="d-flex justify-content-center">
        <input type="date" value="@Model.TableA.EffectiveDate" name="date" />
        <input type="hidden" id="mainOnesCK" value="@Model.MainOnesCK.ToString().ToLower()"
               @if (Model.MainOnesCK) { <text> checked</text> }
               name="mainOnesCK" />
        <input class="btn btn-secondary m-1" type="submit" value="Sprawdź" />
    </form>
}
else
{
    <form method="get">
        <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="date" />
        <input type="hidden" id="mainOnesCK" value="@Model.MainOnesCK.ToString().ToLower()"
               @if (Model.MainOnesCK) { <text> checked</text> }
               name="mainOnesCK" />
        <input type="submit" value="Sprawdź" />
    </form>
}


