@model CurrencyApp.Pages.ItemsModel

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th id="nameH"><span  class="navbar-brand tableTextColor"><a asp-page-handler="Sort" asp-route-sortOption="@Model.SortName">Nazwa</a></span></th>
            <th id="dateH"><a class="navbar-brand tableTextColor" asp-page-handler="Sort" asp-route-sortOption="@Model.SortDate">Data</a></th>
            <th id="priceH"><a class="navbar-brand tableTextColor" asp-page-handler="Sort" asp-route-sortOption="@Model.SortPrice">Cena</a></th>
            <th id="currencyFH"><a class="navbar-brand tableTextColor" asp-page-handler="Sort" asp-route-sortOption="@Model.SortCurrency">Waluta</a></th>
            <th id="rateH"><a class="navbar-brand tableTextColor" asp-page-handler="Sort" asp-route-sortOption="@Model.SortRate">Kurs</a></th>
            <th id="priceCH"><span class="navbar-brand tableTextColorNH">Cena po przeliczeniu</span></th>
            <th id="dateTH"><span class="navbar-brand tableTextColorNH">Data tabeli</span></th>
            <th id="currencyTH"><span class="navbar-brand tableTextColorNH">Waluta docelowa</span></th>
        </tr>
    </thead>
    <tbody id="sortable">
        @{int counter = 0; }
        @foreach (var item in Model.TableI.Items)
        {
            <tr id="item-@counter" class="listHover">
                <td id="nameR" class="text-center nameR">@item.Name</td>
                <td id="dateR" class="text-center dateR">@item.Date</td>
                <td id="priceR" class="text-center priceR">@item.Price</td>
                <td id="currencyFR" class="text-center currencyFR">@item.CurrencyFrom</td>
                <td id="rateR" class="text-center rateR">@item.Rate</td>
                <td id="priceCR" class="text-center priceCR">@item.ConvertedPrice</td>
                @if (item.DateTable.Equals(item.Date))
                {
                    <td id="dateTR" class="text-center dateTR">@item.DateTable</td>
                }
                else
                {
                    <td id="dateTR" class="bgDangerColorNH text-center dateTR">@item.DateTable</td>
                }
                <td id="currencyTR" class="text-center currencyTR">@item.CurrencyTo</td>
            </tr>
            counter++;
        }
    </tbody>
</table>